build/*
dist/*
.venv/*
goldhand.egg-info/*
fig*
__pycache__/*
example/__pycache__/*
goldhand/__pycache__/*
__pycache__/*
goldhand/__pycache__/stocks.cpython-310.pyc
goldhand/__pycache__/tw.cpython-310.pyc
*.pyc
